.content-media--video {
    background-color: #ddd;
    display: block;
    position: relative;
    padding: 0 0 56.25% 0;
 }
 .content-media--video iframe {
     position: absolute;
     bottom: 0;
     left: 0;
     width: 50%;
     height: 50%;
 }
 #featured-video {
    transition: width .2s ease-in-out, height .2s ease-in-out, transform .38s ease-in-out;
  }
  /** Use .sticky */
  #featured-video.is-sticky {
    position: fixed;
    top: 15px;
    left: auto;
    max-width: 280px;
    max-height: 158px;
    width: 280px;
    height: 158px;
  }
  @media screen and (min-width: 1120px) {
     #featured-video.is-sticky {
        transform: translateX(-80%);
     }
  }
  @media screen and (min-width: 1300px) {
     #featured-video.is-sticky {
        transform: translateX(-115%);
     }
  }